body {
  margin: 0;
  height: 100vh;
  background-color: rgb(31, 31, 31);
}

img {
  width: 100%;
}

img.mobile {
  display: none;
}

/* Mobile */
@media (max-width: 991px) {
  img.mobile {
    display: unset;
  }

  img.desktop {
    display: none;
  }
}
